.button{
	width: 100%;
	background-color: green;
}

#userList{
	padding: 10px;
	border:1px solid #333;
}

#editingPanel > div{
	margin-left: 10px;
	padding: 10px;
	border:1px solid #333;
	padding-bottom: 50px;
}