a{
	text-decoration: none;
	-moz-transform: rotate(-17deg);
	position: absolute;
	top:30%;
	margin-left: 5%;
	color: black;
	font-size: 50px;
}
#text2{
	margin-left: 8%;
}
#text2{
	margin-left: 9%;
}

.menu{
	margin-right: 2%;
	margin-left: 3%;
	margin-top : 10%;
	
	height: 80vh;
}
#menu1{
	background-color: orange;
}
#menu2{
	background-color: blue;
}
#menu3{
	background-color: green;
	
}